/* Links */
$title-link-color: $white;
$title-link-hover-color: $pale-green;

$section-link-color: $white;
$section-link-hover-color: $gray-300;

$section-alt-link-color: $black;
$section-alt-link-hover-color: $gray-800;